<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Take_In/public/takein.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/Take_In/resources/css/index.css">
    <title>TakeIn</title>
</head>
<body>
    <nav>
        <a href="takein.html">
          <img class="navbar" src="/Take_In/public/images/logo2-takein.png" alt="Logo" href="takein.html" />
        </a>
    
        <div class="container my-5">
            <div class="main">
              <div>
                <img  class="main_image" src="/Take_In/public/images/logo-takein.png" alt="Imagem" class="img-fluid" />
              </div>
              <div class="main_content">
                <h1 class="animate__animated animate__backInLeft title">TakeIn</h1>
                <h3>
                  Compre consciente, valorize os seus ganhos
                </h3>
                <p>Para organizar seus gastos, para se organizar </p>
                <div class="buttons text-center">
                  <a href="">
                    <button id="btn-baixar-app" class="btn btn-primary animate__animated animate__bounce">
                      Cadastre-se
                    </button>
                  </a>
                  <a href="/saibaMais.html" class="saiba-mais">
                    <span class="animate__animated">Já possuo uma conta</span>
                    <span class="iconify" data-icon="eva:arrow-ios-forward-fill" data-height="22"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
    </div>
    </nav>
    
</body>
</html>