<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Take_In/public/takein.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/Take_In/resources/css/index.css">
    <title>TakeIn</title>
</head>
<body>
    <nav>
        <a href="takein.html">
          <img class="navbar" src="/Take_In/public/images/logo2-takein.png" alt="Logo" href="takein.html" />
        </a>
    
        <div class="container">
            <div class="main">
              <div>
                <img  class="main_image" src="/Take_In/public/images/logo-takein.png" alt="Imagem" class="img-fluid" />
              </div>
              <div class="main_content">
                <h1 class="title">Take In</h1>
                <h3>
                  Compre consciente, valorize os seus ganhos
                </h3>
                <p>Para organizar seus gastos, para se organizar </p>
                <div class="buttons">
                  <a href="signup.html">
                    <button class="btn_cadastro">
                      Cadastre-se
                    </button>
                  </a>
                  <a href="signin.html" class="login">
                    <span class="btn_login">Já possuo uma conta</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
    </div>
    </nav>
    
</body>
</html>